<div class="bg-phone"></div>
<nav class="navbar navbar-light bg-white py-3">
  <div class="container">
    <img src="./assets/logo-opera.png">
  </div>
</nav>
<div class="container text-white">
  <h1 class="display-4 text-center font-weight-100 my-3">Cursos de <br>Verano Pro</h1>
  <p class="text-white text-center m-0 font-weight-100 mb-4">No dejes pasar esta increible oportunidad. Inscríbite acá</p>
  <form [formGroup]="subscriptionForm" (ngSubmit)="postSubscriptions()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="font-weight-100">Nombre <span class="text-danger-light">*</span></label>
        <input name="name" type="text" class="form-control" formControlName="name" placeholder="Ej. Jose Canseco" />
        <div *ngIf="submitted && f.name.errors" class="font-weight-100 font-size-sm mt-2 text-warning">
            <div *ngIf="f.name.errors.required">El nombre es requerido</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="font-weight-100">Teléfono <span class="text-danger-light">*</span></label>
        <input name="phone" type="text" class="form-control" formControlName="phone" placeholder="Ej. 56937729376" />
        <div *ngIf="submitted && f.phone.errors" class="font-weight-100 font-size-sm mt-2 text-warning">
            <div *ngIf="f.phone.errors.required">El teléfono es requerido</div>
            <div *ngIf="f.phone.errors.minlength">El teléfono debe tener 11 numeros</div>
            <div *ngIf="f.phone.errors.pattern">El teléfono sólo debe tener números. Ej. 56937729376</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="font-weight-100">Correo <span class="text-danger-light">*</span></label>
        <input name="email" type="email" class="form-control" formControlName="email" placeholder="Ej. correo@gmail.com" />
        <div *ngIf="submitted && f.email.errors" class="font-weight-100 font-size-sm mt-2 text-warning">
            <div *ngIf="f.email.errors.required">El correo es requerido</div>
            <div *ngIf="f.email.errors.email">El correo está mal escrito, verifíquelo por favor.</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="font-weight-100">RUT <span class="text-danger-light">*</span></label>
        <input name="dni" type="text" class="form-control" formControlName="dni" placeholder="Ej. 26492283-1" />
        <div *ngIf="submitted && f.dni.errors" class="font-weight-100 font-size-sm mt-2 text-warning">
            <div *ngIf="f.dni.errors.required">El RUT es requerido</div>
            <div *ngIf="f.dni.errors.pattern">El RUT debe tener el formato correcto. Ej. 26492283-1</div>
        </div>
      </div>
    </div>
    <p><span class="text-danger-light">*</span> <small class="font-weight-100 ml-2">Campos obligatorios</small></p>
    <button class="btn btn-green btn-block my-4">Inscribirse</button>
  </form>
</div>
